# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# This file
.dockerignore

# Git files
.git/

# VS Code config dir
.vscode/

# Docker configuration files
docker/

# Log files
logs/

# Built binary
mw

# ENV file
.env

# Readme file
README.md